/* Variables and Tablets and Desktop styles for all pages */
$white: #fff;
$whiteish: #ffffffc7;
$skybluish: #00e6ff;
$indigoish: #2e008f;
$purpleish: #873eff;
$brightgreenish: #33ff00;
$seablueish: #5af3fd;
$purplyblueish: #5a61fd;
$deep_imagination: linear-gradient(
  to left bottom,
  #2e008f,
  #4410aa,
  #5a20c6,
  #702fe2,
  #873eff
);
